$maxWidthContainer: 1168;
$maxWidthTemplate: 1440;
$textAboutWhiteColor: #C0C0C0;
@mixin adaptiveValue ($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type == 1 {
        #{$property}: $startSize + px;
        @media(max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    }
    @else if $type == 2 {
        #{$property} : $startSize + px;
        @media(min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthTemplate - 320}));
        }
    }
    @else {
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthTemplate - 320}));
    }
}
//========================================================================
* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, textarea, button {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
//========================================================================
::selection {
    background-color: #4e4e4e;
}
.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}
//========================================================================
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
}
[class*="_container"] {
    max-width: $maxWidthContainer + 30px;
    margin: 0 auto;
    padding: 0 15px;
}
//========================================================================
.page {
    flex: 1 1 auto;
}
//========================================================================
.header {
    padding: 35px 0;
    @media (max-width: 1500px) {
        padding: 30px 0;
    }
    @media (max-width: 1024px) {
        padding: 27px 0;
    }
    @media (max-width: 767.98px) {
        padding: 25px 0;
    }
    z-index: 50;
    width: 100%;
    position: fixed;
    transition: all 0.3s ease 0s;
    &::before {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: #181818;
        transition: all 0.3s ease 0s;
    }
    &._scroll {
        padding: 15px 0;
        @media (max-width: 1024px) {
            padding: 12px 0;
        }
        @media (max-width: 767.98px) {
            padding: 16px 0;
        }
        &::before {
            background-color: rgba(24, 24, 24, 0.7);
        }
    }
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    column-gap: 31px;
}
.header__logo {
    flex: 1 1 auto;
    position: relative;
    z-index: 3;
}
.header__logo {
    position: relative;
    z-index: 3;
}
header .menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: relative;
    z-index: 2;
}
header .menu__link {
    color: inherit;
    font-size: 15px;
    line-height: 133%;
    position: relative;
    z-index: 3;
}

header .menu__link:hover {
    text-decoration: underline;
}
.header__button {
    position: relative;
    z-index: 3;
}
.header__button_link {
    border: 2px solid #FFFFFF;
    padding: 9px 20px;
    background-color: #FFFFFF;
    border-radius: 14px;
    display: inline-block;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.4px;
    color: #000000;
    transition: all 0.5s ease 0s;
    &:hover {
        background-color: transparent;
        color: #fff
    }
}
.header__burger {
    display: none;
}
@media (max-width: 1024px) {
    .header__button_link {
        padding: 10px 15px;
    }
    header .menu__list {
        gap: 20px;
    }
    .header__body {
        column-gap: 12px;
    }
    .header__logo {
        flex: initial;
    }
    .header__logo_img {
        width: 85%;
    }
}
@media (max-width: 767.98px) {
    .advertisement__text {
        padding: 5px 15px;
        font-size: 16px;
    }
    body.lock {
        overflow: hidden;
    }
    .header__burger span {
        position: absolute;
        height: 3px;
        background-color: #fff;
        left: 0;
        width: 100%;
        top: 11px;
        transition: all 0.3s ease 0s;
        border-radius: 5px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 40px;
        height: 25px;
        z-index: 3;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
        border-radius: 5px;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 10px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 12px;
    }
    header .menu__list {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .header__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #181818;
        transition: all 0.3s ease 0s;
        padding: 100px 20px 20px 20px;
        overflow:auto;
    }
    .header__menu.active {
        left: 0;
    }
    .menu__item:not(:last-child) {
        margin-right: 0;
    }
    header .menu__link {
        font-size: 26px;
    }
    .header__button {
        position: fixed;
        right: 75px;
    }
}
@media (max-width: 425.98px) {
    .header__button {
        right: 65px;
    }
    .header__button_link {
        padding: 7px 10px;
    }
    .header__logo_img {
        width: 75%;
    }
}
//========================================================================
.main-block {
    @include adaptiveValue("padding-top", 475, 180, 1);
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 100vh;
    background: url("../images/main-block/image.jpg") center / cover no-repeat;
    @media (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
    }
    @media (max-width: 767.98px) {
        padding-bottom: 7.5px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.main-block__subtitle {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 1px;
    }
}
.main-block__subtitle h2 {
    color: $textAboutWhiteColor;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 1s ease 0.9s;
}
.main-block__subtitle._active h2 {
    opacity: 1;
    transform: translate(0, 0);
}
.main-block__title {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 18px;
    }
}
.main-block__title h1 {
    line-height: 110%;
    text-align: center;
    @include adaptiveValue("font-size", 54, 45, 1);
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 1s ease 0.3s;
}
.main-block__title._active h1 {
    opacity: 1;
    transform: translate(0, 0);
}
.main-block__text {
    overflow: hidden;
    max-width: 580px;
    margin: 0 auto;
    &:not(:last-child) {
        margin-bottom: 25px;
        @media (max-width: 767.98px) {
        margin-bottom: 50px;

        }
    }
}
.main-block__text p {
    @include adaptiveValue("font-size", 14, 13, 1);
    line-height: 143%;
    text-align: center;
    color: $textAboutWhiteColor;
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 1s ease 0.6s;
}
.main-block__text._active p {
    opacity: 1;
    transform: translate(0, 0);
}

.main-block__parameters {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
    overflow: hidden;
}
.main-block__parameter {
    display: flex;
    gap: 6px;
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 1s ease 1.2s;
}
.main-block__parameters._active .main-block__parameter {
    opacity: 1;
    transform: translate(0, 0);
}
.main-block__parameter_name {
    font-size: 12px;
    line-height: 100%;
}
@media (max-width: 767.98px) {
    .main-block__parameters {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }
}
//========================================================================
.what {
    background-color: #000000;
    @include adaptiveValue("padding-top", 113, 7.5, 1);
    @include adaptiveValue("padding-bottom", 100, 30, 1);
}
.what__title {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}
.what__title h2 {
    @include adaptiveValue("font-size", 40, 35, 1);
    line-height: 105%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 1s ease 0s;
}
.what__title._active h2 {
    opacity: 1;
    transform: translate(0, 0);
}
.what__text {
    overflow: hidden;
}
.what__text p {
    @include adaptiveValue("font-size", 23, 18, 1);
    line-height: 130%;
    text-align: center;
    color: $textAboutWhiteColor;
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 1s ease 0.2s;
}
.what__text._active p {
    opacity: 1;
    transform: translate(0, 0);
}
.what__rows {
    @include adaptiveValue("margin-top", 42, 15, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}
.what__row {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}
.what__column {
    flex: 0 1 50%;
}
.what__item {
    height: 100%;
}
.what__item__image {
    position: relative;
    overflow: hidden;
    @include adaptiveValue("padding-top", 352, 0, 1);
}

.what__item__content {
    height: 100%;
    @include adaptiveValue("padding", 30, 15, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.what__item__content_title a {
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
        text-decoration: underline;
    }
}
.what__item__content_title {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
.what__item__content_text {
    flex: 1 1 auto;
    @include adaptiveValue("font-size", 14, 13, 1);
    line-height: 143%;
    color: $textAboutWhiteColor;
    &:not(:last-child) {
        margin-bottom: 17px;
    }
}
.what__item__content_button {
    border: 2px solid #FFFFFF;
    display: inline-block;
    padding: 10px 15px;
    background-color: #FFFFFF;
    border-radius: 14px;
    line-height: 133%;
    letter-spacing: 0.4px;
    color: #000000;
    @include adaptiveValue("font-size", 15, 13, 1);
    transition: all 0.5s ease 0s;
    &:hover {
        background-color: transparent;
        color: #fff;
    }
}
.image_1 {
    background: url("../images/what/01.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image_2 {
    background: url("../images/what/02.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image_3 {
    background: url("../images/what/03.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.image_4 {
    background: url("../images/what/04.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
@media (max-width: 767.98px) {
    .what__item__content_text {
        flex: initial;
    }
    .what__item__content_button {
        width: 100%;
    }
    .what__item__content {
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .what__row {
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

}
//========================================================================
.sunset {
    background: url("../images/sunset/image.jpg") center / cover no-repeat fixed;
}
.sunset__body {
    @include adaptiveValue("padding-top", 280, 250, 1);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    min-height: 100vh;
    @media (max-width: 767.98px) {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sunset__body_content {
    flex: 1 1 auto;
    text-align: start;
    max-width: 450px;
}
.sunset__subtitle {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
.sunset__subtitle h3 {
    @include adaptiveValue("font-size", 30, 20, 1);
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.8s ease 0.5s;
    line-height: 143%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset__subtitle._active h3 {
    opacity: 1;
    transform: translate(0, 0);
}

.sunset__text {
    overflow: hidden;
    margin-bottom: 15px;
}
.sunset__text p {
    @include adaptiveValue("font-size", 20, 14, 1);
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.8s ease 0.2s;
    font-weight: 400;
    line-height: 143%;
    color: #C0C0C0;
}
.sunset__text._active p {
    opacity: 1;
    transform: translate(0, 0);
}
.sunset__parameters {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
    overflow: hidden;
}
.sunset__parameter {
    display: flex;
    gap: 6px;
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.8s ease 0.2s;
}
.sunset__parameters._active .sunset__parameter {
    opacity: 1;
    transform: translate(0, 0);
}
.sunset__parameter_name {
    font-size: 12px;
    line-height: 100%;
}
@media (max-width: 767.98px) {
    .sunset__text {
        margin-bottom: 50px;
    }
    .sunset__body {
        align-items: center;
    }
    .sunset__body_content {
        flex: initial;
        text-align: center;
        max-width: initial;
    }
    .sunset__parameters {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }
}
//========================================================================
.tools {
    background-color: #000000;
}
.tools__body {
    display: flex;
}
.tools__body_content {
    flex: 0 1 50%;
    @include adaptiveValue("padding-left", 100, 15, 3);
    @include adaptiveValue("padding-right", 106, 15, 3);
    @include adaptiveValue("padding-top", 173, 20, 3);
    @include adaptiveValue("padding-bottom", 153, 20, 3);
}
.tools__subtitle  {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 6px;
    }
}
.tools__subtitle h5 {
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $textAboutWhiteColor;
    opacity: 0;
    transition: all 0.8s ease 1.1s;
    transform: translate(-100%, 0);
}
.tools__subtitle._active h5 {
    opacity: 1;
    transform: translate(0, 0);
}
.tools__title {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 14px;
    }
}
.tools__title h3 {
    font-size: 28px;
    line-height: 114%;
    color: #FFFFFF;
    opacity: 0;
    transition: all 0.8s ease 0.2s;
    transform: translate(-100%, 0);
}
.tools__title._active h3 {
    opacity: 1;
    transform: translate(0, 0);
}
.tools__text {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
.tools__text p {
    font-size: 14px;
    line-height: 143%;
    opacity: 0;
    transition: all 0.8s ease 0.5s;
    transform: translate(-100%, 0);
}
.tools__text._active p {
    opacity: 1;
    transform: translate(0, 0);
}
.tools__button_body {
    overflow: hidden;
    opacity: 0;
    transition: all 0.8s ease 0.8s;
    transform: translate(-100%, 0);
}
.tools__button_body._active {
    opacity: 1;
    transform: translate(0, 0);
}
.tools__button {
    border: 2px solid #FFFFFF;
    display: inline-block;
    line-height: 125%;
    background: #FFFFFF;
    border-radius: 14px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 10px 15px;
    transition: all 0.5s ease 0s;
    &:hover {
        background-color: #181818;
        color: #fff;
    }
    @include adaptiveValue("font-size", 16, 14, 1);
}
.tools__body_image {
    flex: 0 1 50%;
    background: url("../images/tools/image.jpg") center / cover no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.tools__body_image__content {
    padding: 40px;
}
.tools__body_image__parameters {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
    overflow: hidden;
}
.tools__body_image__parameter {
    display: flex;
    gap: 6px;
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.8s ease 1s;

}
.tools__body_image__parameter_name {
    font-size: 12px;
    line-height: 100%;
}

.tools__body_image__parameters._active .tools__body_image__parameter {
    opacity: 1;
    transform: translate(0, 0);
}
@media (max-width: 767.98px) {
    .tools__button {
        width: 100%;
    }
    .tools {
        padding-bottom: 50px;
    }
    .tools__body_image__content {
        padding: 100px 20px;
    }
    .tools__body {
        display: flex;
        flex-direction: column;
    }
    .tools__body_content {
        text-align: center;
        flex: 1 1 100%;
        width: 100%;
    }
    .tools__body_image {
        flex: 1 1 100%;
        width: 100%;
        background: url("../images/tools/image.jpg") center / cover no-repeat;
        justify-content: center;
        align-items: center;
    }
}
//========================================================================
.leafs {
    background: url("../images/leafs/image.jpg") center / cover no-repeat;
}
.leafs__body {
    @include adaptiveValue("padding-top", 280, 250, 1);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    min-height: 100vh;
    @media (max-width: 767.98px) {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.leafs__body_content {
    flex: 1 1 auto;
    text-align: start;
    max-width: 450px;
}
.leafs__subtitle {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
.leafs__subtitle h3 {
    @include adaptiveValue("font-size", 30, 20, 1);
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.8s ease 0.5s;
    line-height: 143%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.leafs__subtitle._active h3 {
    opacity: 1;
    transform: translate(0, 0);
}

.leafs__text {
    overflow: hidden;
    margin-bottom: 15px;
}
.leafs__text p {
    @include adaptiveValue("font-size", 20, 14, 1);
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.8s ease 0.2s;
    font-weight: 400;
    line-height: 143%;
    color: #C0C0C0;
}
.leafs__text._active p {
    opacity: 1;
    transform: translate(0, 0);
}
.leafs__parameters {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
    overflow: hidden;
}
.leafs__parameter {
    display: flex;
    gap: 6px;
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.8s ease 0.2s;
}
.leafs__parameters._active .leafs__parameter {
    opacity: 1;
    transform: translate(0, 0);
}
.leafs__parameter_name {
    font-size: 12px;
    line-height: 100%;
}
@media (max-width: 767.98px) {
    .leafs__text {
        margin-bottom: 50px;
    }
    .leafs__body {
        align-items: center;
    }
    .leafs__body_content {
        flex: initial;
        text-align: center;
        max-width: initial;
    }
    .leafs__parameters {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }
}
//========================================================================
.clients {
    background-color: #000;
}
.clients__body {
    @include adaptiveValue("padding-top", 113, 30,1 );
    @include adaptiveValue("padding-bottom", 140, 15,1 );
}
.clients__title {
    overflow: hidden;
}
.clients__title  {
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}
.clients__title h2 {
    @include adaptiveValue("font-size", 40, 35, 1);
    line-height: 105%;
    text-align: center;
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 1s ease 0s;
}
.clients__title._active h2 {
    opacity: 1;
    transform: translate(0, 0);
}
.clients__text {
    overflow: hidden;
}
.clients__text p {
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: $textAboutWhiteColor;
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 1s ease 0.2s;
}
.clients__text._active p {
    opacity: 1;
    transform: translate(0, 0);
}
.clients__images {
    @include adaptiveValue("margin-top", 82, 0,1 );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.clients__image {
    text-align: center;
    flex: 0 1 20%;
    padding: 25px 15px;
    min-width: 175px;
}
.clients__image img {
    max-width: 100%;
}
//========================================================================
.starfall {
    background: url("../images/starfall/image.jpg") center / cover no-repeat fixed;
}
.starfall__body {
    @include adaptiveValue("padding-top", 280, 250, 1);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    min-height: 100vh;
    @media (max-width: 767.98px) {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.starfall__body_content {
    flex: 1 1 auto;
    text-align: start;
    max-width: 450px;
}
.starfall__subtitle {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
.starfall__subtitle h3 {
    @include adaptiveValue("font-size", 30, 20, 1);
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.8s ease 0.5s;
    line-height: 143%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.starfall__subtitle._active h3 {
    opacity: 1;
    transform: translate(0, 0);
}

.starfall__text {
    overflow: hidden;
    margin-bottom: 15px;
}
.starfall__text p {
    @include adaptiveValue("font-size", 20, 14, 1);
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.8s ease 0.2s;
    font-weight: 400;
    line-height: 143%;
    color: #C0C0C0;
}
.starfall__text._active p {
    opacity: 1;
    transform: translate(0, 0);
}
.starfall__parameters {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
    overflow: hidden;
}
.starfall__parameter {
    display: flex;
    gap: 6px;
    opacity: 0;
    transform: translate(100%, 0);
    transition: all 0.8s ease 0.2s;
}
.starfall__parameters._active .starfall__parameter {
    opacity: 1;
    transform: translate(0, 0);
}
.starfall__parameter_name {
    font-size: 12px;
    line-height: 100%;
}
@media (max-width: 767.98px) {
    .starfall__text {
        margin-bottom: 50px;
    }
    .starfall__body {
        align-items: center;
    }
    .starfall__body_content {
        flex: initial;
        text-align: center;
        max-width: initial;
    }
    .starfall__parameters {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }
}
//========================================================================
.help {
    background-color: #000;
}
.help__body {
    @include adaptiveValue("padding-top", 113, 30, 1);
    @include adaptiveValue("padding-bottom", 108, 15,1 );
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help__title {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 15px;
    }
    margin: 0 auto
}
.help__title h2 {
    @include adaptiveValue("font-size", 40, 35, 1);
    line-height: 125%;
    text-align: center;
    max-width: 571px;
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 1s ease 0s;
}
.help__title._active h2 {
    opacity: 1;
    transform: translate(0, 0);
}
.help__text {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 22px;
    }
}
.help__text p {
    @include adaptiveValue("font-size", 24, 20, 1);
    line-height: 125%;
    text-align: center;
    color: $textAboutWhiteColor;
    opacity: 0;
    transform: translate(0, 100%);
    transition: all 1s ease 0.2s;
}
.help__text._active p {
    opacity: 1;
    transform: translate(0, 0);
}
.help__button_body {
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease 0.4s;
    transform: translate(0, 70%);
}
.help__button_body._active  {
    opacity: 1;
    transform: translate(0, 0);
}
.help__button {
    @include adaptiveValue("font-size", 16, 14, 1);
    text-align: center;
    border: 2px solid #FFFFFF;
    display: inline-block;
    line-height: 125%;
    background: #FFFFFF;
    border-radius: 14px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 10px 15px;
    transition: all 0.5s ease 0s;
    &:hover {
        background-color: #181818;
        color: #fff;
    }
}

@media (max-width: 767.98px) {
    .help__button {
        width: 100%;
    }
    .help__body {
        align-items: stretch;
    }
}
//========================================================================
.footer {
    background-color: #000;
    @include adaptiveValue("padding-top", 70, 15, 1);
    @include adaptiveValue("padding-bottom", 70, 30, 1);
}
.footer__top {
    @include adaptiveValue("padding-bottom", 36, 15,1 );
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    column-gap: 25px;
}
.footer__top__logo {
    margin-bottom: 20px;
}
.footer__top_text {
    font-size: 13px;
    line-height: 154%;
    color: $textAboutWhiteColor;
}
.footer__top_nav {
    display: flex;
    column-gap: 55px;
}
.footer__top_menu_label {
    color: $textAboutWhiteColor;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer__top_item {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
.footer__top_link {
    font-size: 14px;
    line-height: 143%;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 767.98px) {
    .footer__top__logo {
        text-align: center;
    }
    .footer__top_text {
        text-align: center;
    }
    .footer__top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #fff;
        column-gap: 0;
        row-gap: 30px;
    }
    .footer__top_nav {
        display: flex;
        width: 100%;
        column-gap: 25px;
        justify-content: space-around;
    }
    .footer__top_menu_label {
        font-size: 16px;
    }
    .footer__top_link {
        font-size: 16px;
    }
}
@media (max-width: 425.98px) {
    .footer__top_nav {
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        column-gap: 0;
        row-gap: 25px;
    }
}
.footer__main {
    @include adaptiveValue("padding-top", 36, 15, 1);
    @include adaptiveValue("padding-bottom", 36, 15, 1);
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}
.footer__main__title {
    overflow: hidden;
    margin-bottom: 20px;
}
.footer__main__title h5 {
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0;
    transition: all 1s ease 0s;
    transform: translate(-100%, 0);
}
.footer__main__title._active h5 {
    opacity: 1;
    transform: translate(0, 0);
}
.footer__main__text {
    overflow: hidden;
}
.footer__main__text p {
    font-size: 13px;
    line-height: 154%;
    color: $textAboutWhiteColor;
    opacity: 0;
    transition: all 1s ease 0.2s;
    transform: translate(-100%, 0);
}
.footer__main__text._active p {
    opacity: 1;
    transform: translate(0, 0);
}
.footer__main__form {
    overflow: hidden;
    flex: 1 1 auto;
    max-width: 458px;
    ::placeholder {
        color: #000;
    }
}
.footer__main__form-body {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 11px;
    column-gap: 5px;
    opacity: 0;
    transition: all 1.2s ease 0.4s;
    transform: translate(70%, 0);
}
.footer__main__form._active .footer__main__form-body {
    opacity: 1;
    transform: translate(0, 0);
}
.footer__main__form_input {
    @include adaptiveValue("font-size", 16, 14, 1);
    flex: 1 1 auto;
    padding: 12px 15px;
    border-radius: 12px 0 0 12px;
    background-color: transparent;
}
.footer__main__form_button {
    @include adaptiveValue("font-size", 16, 14, 1);
    border: 3px solid #000;
    border-radius: 12px;
    color: #fff;
    background-color: #000;
    padding: 9px 12px;
    transition: all 0.5s ease 0s;
    &:hover {
        color: #000;
        background-color: #fff;
    }
}
@media (max-width: 767.98px) {
    .footer__main__title {
        margin-bottom: 10px;
    }
    .footer__main__form_input {
        padding: 10px 12px;
    }
    .footer__main__form_button {
        padding: 8px 11px;
    }
    .footer__main__form-body {
        column-gap: 0;
        padding: 5px;
    }
    .footer__main__content {
        text-align: center;
    }
    .footer__main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 0;
        row-gap: 20px;
    }
    .footer__main__form {
        flex: 1 1 100%;
        max-width: initial;
        width: 100%;
    }
}
@media (max-width: 550px) {
    .footer__main__form-body {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        row-gap: 5px;
    }
    .footer__main__form_input {
        flex: 1 1 100%;
        width: 100%;
    }
    .footer__main__form_button {
        width: 100%;
    }
}
.footer__bottom {
    @include adaptiveValue("padding-top", 53, 15, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
.footer__bottom__text {
    @include adaptiveValue("font-size", 14, 13, 1);
    line-height: 143%;
    color: $textAboutWhiteColor;
}
.footer__bottom__contacts {
    display: flex;
    align-items: center;
    gap: 25px;
}
.footer__bottom__contact {
    transition: all 0.5s ease 0s;
    &:hover {
        transform: scale(1.3);
    }
}
@media (max-width: 425.98px) {
    .footer__bottom__text {
        text-align: center;
    }
    .footer__bottom {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}